@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-sarif;
}
nav{
    height: 80px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
nav .logo{
    font-size: 33px;
    color: #fff;
    font-weight: 600;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    letter-spacing: 1px;
    background: #1b1b1b;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active{
    color: #1b1b1b;
    background: #fff;
    text-decoration: none;
}
@media (max-width: 940px){
    nav ul{
        position: fixed;
        top: 80px;
        left: 0;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background: none;
    }
}
.text_box {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#container{
    width: 100%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

.center_buttons {
    margin:auto;
    display:block;
}
